# --- 변수와 자료형 ---
## 변수
계사넹 필요한 자료를 일시적으로 저장하거나 처리결과를 담을 수 있는 기억장소를 지정해 주는 역할.
변수 이름은 값을 지정하는 메모리 영역의 이름으로 할당.

## 변수 이름의 작성 규칙
- 첫자는 영문으로 시작.
- 첫자를 제외하고 숫자, under bar, dot을 사용할 수 있음.
- 대문자와 소문자를 구분.
- 변수 이름은 의미를 파악할 수 있는 이름으로 지정하는 것이 좋음.
- 두 단어를 포함한 변수 이름을 지정할 경우 두번째 단의 첫자는 대문자로 표시(camel method)나 under bar(snake method)로 표시하는 것이 가독성에 좋음.

# 숫자 자료형

In [2]:
# 정수형

var01 = 123
var01 = -17
var01 = 0

var01

0

In [3]:
# 실수형

var02 = 1.2
var02 = -12.34

var02

-12.34

In [9]:
# 연산자

var01 = 3
var02 = 4

print('덧셈 :', var01 + var02)
print('뺄셈 :', var01 - var02)
print('곱셈 :', var01 * var02)
print('실수 나눗셈 :', var01 / var02)
print('정수 나눗셈 몫 :', var01 // var02)
print('정수 나눗셈 나머지 :', var01 % var02)
print('제곱 :', var01 ** 2)
print('제곱 :', pow(var01, 2))

덧셈 : 7
뺄셈 : -1
곱셈 : 12
실수 나눗셈 : 0.75
정수 나눗셈 몫 : 0
정수 나눗셈 나머지 : 3
제곱 : 9
제곱 : 9

# 파이썬 모듈을 이용한 수학계산

In [10]:
# 수학계산 모듈 불러오기
import math

In [11]:
# 거듭제곱
math.pow(var01, 2)

9.0

In [13]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [14]:
# sin(45)
math.sin(45)

0.8509035245341184

In [19]:
math.pow(math.sin(45), 2) + math.pow(math.cos(45), 2)

1.0

# 난수발생

In [20]:
import random

In [21]:
random.randint(1, 100)

46

In [22]:
rlist = [1,2,3,4,5]
random.sample(rlist, 3)

[2, 4, 5]

In [24]:
alist = range(1,101)
for i in alist:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [30]:
# 로또 자동번호 생성기
alist = range(1,46)
random.sample(alist, 6)

[5, 22, 19, 23, 2, 35]

In [31]:
# 메모리에 있는 변수 출력
dir()

['In',
 'Out',
 '_',
 '_11',
 '_12',
 '_13',
 '_14',
 '_15',
 '_16',
 '_17',
 '_18',
 '_19',
 '_2',
 '_21',
 '_22',
 '_27',
 '_29',
 '_3',
 '_30',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'alist',
 'exit',
 'get_ipython',
 'i',
 'math',
 'quit',
 'random',
 'rlist',
 'var01',
 'var02']

In [33]:

var01

3

In [39]:
# 메모리에 있는 변수 지우기
del var01

NameError: name 'var01' is not defined

# 관계 연산자

In [40]:
num1 = 100
num2 = 20

In [41]:
# 동등비교
print(num1 == num2)
print(num1 != num2)

False
True

In [43]:
#크기비교
num1 > num2
num1 < num2

False

In [47]:
#크기비교
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)

True
False
True
False

# 논리연산자

In [50]:
# And, Or1
print((num1 >= 50) & (num2 <=10))
print((num1 >= 50) | (num2 <=10))

False
True

In [52]:
# 부정 연산자
not(num1 >= 50)

False

# 문자열 자료형

In [53]:
var01 = "Hello World!"
var01

'Hello World!'

In [57]:
# 여러줄의 문자열 출력

var01 = """
        코틀린에도 있고
        스위트트에도 있다~
    
"""
print(var01)

        코틀린에도 있고
        스위트트에도 있다~

In [61]:
# 쌍다옴표와 홑따옴표의 사용

var01 = "My Father's wife is mt mother."
var02 = 'He says "I love you."'
print(var01)
print(var02)

My Father's wife is mt mother.
He says "I love you."

In [66]:
# 특수문자를 사용한 출력
var03 = 'aaa\nbbb'
var04 = 'aaa\tbbb'
print(var03)
print(var04)

aaa
bbb
aaa	bbb

In [68]:
# 문자열 연산(덧셈)
var01 = 'Python'
var02 = 'is fun.'

print(var01 + var02)
print(var01, var02)

Pythonis fun.
Python is fun.

In [70]:
# 문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

==================
Python
==================

In [73]:
print("=" * 20)
print("Python")
print("=" * 20)

====================
Python
====================

In [81]:
# 문자열 indexing과 Slicing
str = "abcdefghijklmn"
print(str[0])
print(str[0:3])
print(str[-1])
print(str[5:])
print(str[:5])

# fghijkl <-[_:-_]
print(str[5:-2])

a
abc
n
fghijklmn
abcde
fghijkl

In [87]:
str = "20211231"

# 2021-12-31
str[0:4] + "-" + str[4:6] + "-" + str[6:]

# 202C1231
str[0:3] + "C" + str[4:]

# 202C1231
str.replace('1', 'C')

'202CC23C'

----

# 문자열 관련 함수

In [91]:
# 문자 Count
str = "I have a dream."
print(str.count('a')) # a란 글자갯수
print(len(str))

3
15

In [95]:
# 문자 위치 알려주기
print(str.find('e'))
print(str.find('x'))

5
-1

In [97]:
# 문자열 삽입
str = ','
str.join('abcdefg')

'a,b,c,d,e,f,g'

In [116]:
# 소문자를 대문자로 변경
str = 'hi.'
str.upper()
'hi.'.upper()

'HI.'

In [117]:
# 대문자를 소문자로
str = 'HI.'
str.lower()

'hi.'

In [118]:
# 왼쪽 공백 지우기
str = '                  hi.'
str.lstrip()

'hi.'

In [119]:
# 오른쪽 공백 지우기
str = 'hi.                  '
str.rstrip()

'hi.'

In [120]:
# 양쪽 공백 지우기
str = '       hi.         '
str.strip()

'hi.'

In [121]:
# 문자열 바꾸기
str = 'Life is too short to be happy.'
str.replace('happy', 'unhappy')

'Life is too short to be unhappy.'

In [122]:
# 문자열 나누기
str

'Life is too short to be happy.'

In [128]:
list01 = str.split()
print(type(list01)) # 배열값이다
print(list01)

<class 'list'>
['Life', 'is', 'too', 'short', 'to', 'be', 'happy.']

In [129]:
str01 = '2021-12-31'
print(type(str01))
str01.split('-')[0] + list01[0]

<class 'str'>

'2021Life'

# 날짜형 변환

In [130]:
from datetime import datetime, timedelta # 날짜형 모듈 불러오기

In [139]:
datetime(2021, 7, 9, 12, 11, 20, 21)
print(datetime(2021, 7, 9, 12, 11, 20, 21))
time1 = datetime(2021, 12, 31, 12, 0, 0, 0)
type(time1)
print(time1)

2021-07-09 12:11:20.000021
2021-12-31 12:00:00

In [137]:
# 날짜 계산하기
time2 = datetime.now()
print(time1 - time2)

174 days, 21:13:18.100932

In [144]:
# 좀 더 편리하게 출력

print('두 날짜의 차이는')
print((time1 - time2).days, '일')

두 날짜의 차이는
174 일

In [162]:
# 특정 날짜로 부터 시간 계산
print('현재 시간부터 5일 뒤')
print(time2 + timedelta(days = 5))
print('현재 시간부터 5일 전')
print(time2 + timedelta(days = -5))

#현재 시간부터 1일뒤의 2시간 전
print('현재 시간부터 일뒤의 2시간 전')
print(time2 + timedelta(days = 1, hours = -2))

현재 시간부터 5일 뒤
2021-07-14 14:46:41.899068
현재 시간부터 5일 전
2021-07-04 14:46:41.899068
현재 시간부터 일뒤의 2시간 전
2021-07-10 12:46:41.899068