# 리스트(list) 자료형
- 숫자나 문자들의 모음을 하나의 자료형으로 표현하기 사용
- format : listName = [e1, e2, .....]

# 리스트 자료형 선언

In [2]:
var01 = []
var02 = [1,2,3]
var03 = ['I', "have", 'a', 'dream']
var04 = [1, 2, 'dream', 'True']
var05 = [1, 2, ['Dream', "true"]]

In [5]:
print(var01)
print(var02)
print(var03)
print(var04)
print(var05)

print(var05[2])
print(var05[2][0])

[]
[1, 2, 3]
['I', 'have', 'a', 'dream']
[1, 2, 'dream', 'True']
[1, 2, ['Dream', 'true']]
['Dream', 'true']
Dream

In [7]:
# 리스트의 계산

var02[0] + var02[1]

3

In [13]:
# 3중 리스트에서 indexing 에서 Dream만 출력하기

var = [1, 2, ['a', 'b', ['Dream', 'True']]]
print(var[-1][-1][0])

Dream

In [17]:
print(var[2])

['a', 'b', ['Dream', 'True']]

# 리스트 연산

In [18]:
# 리스트의 숫자 합치기

var01 = [1,2,3]
var02 = [4,5,6]
var01 + var02

[1, 2, 3, 4, 5, 6]

In [23]:
# 리스트의 덧셈

for i in range(0, 3):
    print(var01[i] + var02[i])

5
7
9

In [24]:
# 리스트의 숫자 반복
var01 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [39]:
# 리스트의 곱셈
# var01의 data를 10배 계산하여 출력하기
# 10
# 20
# 30

for i in var01:
    print(var01[i-1] * 10)

10
20
30

In [38]:
# 리스트의 타입 변환
var = [1,2,3]
print(str(var[2]) + "hi!")

3hi!

In [80]:
temp = "123"
temp1 = int(temp)
type(temp1)

int

# 리스트의 수정과 삭제

In [60]:
var = [1,2,3]
var[2] = 4
var

[1, 2, 4]

In [61]:
var[1:2] = ['a', 'b', 'c']
var

[1, 'a', 'b', 'c', 4]

In [62]:
# 1-2번지의 데이터의 지우기

var[1:3] = []
var

[1, 'c', 4]

In [63]:
del var[1:3]
var

[1]

In [65]:
# 리스트에 요소 추가
var = [1,2,3]
var.append(4)
var

[1, 2, 3, 4]

In [66]:
var.append([5,6])
var

[1, 2, 3, 4, [5, 6]]

In [73]:
# 리스트의 정렬
var = [1, 4, 3, 2]
print(var)

#오름차순
var.sort()
print(var)

#내림차순
var.reverse()
print(var)

print(max(var))
print(min(var))

[1, 4, 3, 2]
[1, 2, 3, 4]
[4, 3, 2, 1]
4
1

In [77]:
# 리스트 문자 정렬 : 한글
var = ['대', '한', '민', '국']
# 오름차순 정렬
var.sort()
print(var)
# 내림차순 정렬
var.reverse()
print(var)

['국', '대', '민', '한']
['한', '민', '대', '국']

In [81]:
# 리스트의 위치 정보
var = [4,5,6]
var.index(5)

1

In [83]:
# 리스트의 요소 삽입
var = [1,2,3]
var.insert(0, 4)
var

[4, 1, 2, 3]

In [84]:
# 리스트에 요소 제거
var = [1,2,3,4,5,6]
# 데이터(요소)가 4인것 제거
var.remove(4)
var

[1, 2, 3, 5, 6]

In [87]:
# 리스트 요소 끄집어 내기
var = [1,2,3]
print(var.pop())
print(var)
print(var.pop())
print(var)

3
[1, 2]
2
[1]

In [90]:
# for문을 사용한 pop
var = [1,2,3]

for i in range(0, 3):
    print(var.pop())
    
print(var)

3
2
1
[]

In [95]:
# 리스트의 확장
var = [1,2,3,4]
var1 = [5,6]
var + var1
var.extend(var1)
var

[1, 2, 3, 4, 5, 6]